header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    border: solid green 5px;
    height: 10vh;

    nav {
        display: flex;
        justify-content:space-between;
        width: 35%;
        align-items: center;
        height: 10vh;






    }
}